<%- include('headCommon.ejs', {title: 'Test.'}) %>

<p>Demo page recording very basic information about trees, and geolocating them.</p>

<script src="location.js"></script>

<button onclick="recordNewTree()">Record New Tree</button>

<p id="treeResultsPara"></p>

<%- include('footer.ejs') %>
